<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace 指明SQL语句映射针对于实体对象 -->
<mapper namespace="com.yidu.parameters.dao.TrusteeDao">
    
    <parameterMap type="map" id="selectTrusteeMapIn">
		<parameter property="tableName" mode="IN" jdbcType="VARCHAR" />
		<parameter property="qualification" mode="IN" jdbcType="VARCHAR" />
		<parameter property="page" mode="INOUT" jdbcType="INTEGER" />
		<parameter property="rows" mode="INOUT" jdbcType="INTEGER" />
		<parameter property="pageTotal" mode="OUT" jdbcType="INTEGER" />
		<parameter property="rowsTotal" mode="OUT" jdbcType="INTEGER" />
		<parameter property="orderColumn" mode="IN" jdbcType="VARCHAR" />
		<parameter property="orderStyle" mode="IN" jdbcType="VARCHAR" />
		<parameter property="cursor" mode="OUT" jdbcType="CURSOR"
			resultMap="TrusteeMap" />
		
	</parameterMap>
	<resultMap type="Trustee" id="TrusteeMap">
	    <id property="trusteeCode" column="trustee_code"/>
	    <result property="trusteeName" column="trustee_name" />
		<result property="trusteeAddres" column="trustee_addres" />
		<result property="trusteeCompany" column="trustee_company" />
		<result property="trusteePhone" column="trustee_phone" />
		<result property="trusteeFee" column="trustee_fee" />
		<result property="trusteeDesc" column="trustee_Desc" />
	</resultMap>
	  <!-- 查询 -->
<select id="selectTrusteeRow" parameterMap="selectTrusteeMapIn" statementType="CALLABLE">
       call pk_select.sp_select_pagination(?,?,?,?,?,?,?,?,?)
</select>
<!-- 新增 -->
<insert id="insertTrustee" parameterType="Trustee">
    insert into trustee values(#{trusteeCode},#{trusteeName},#{trusteeAddres},#{trusteeCompany},#{trusteePhone},#{trusteeFee},#{trusteeDesc})
</insert>
<!-- 修改 -->
	<update id="updateTrustee" parameterType="Trustee">
	  update trustee set  trustee_name=#{trusteeName},
	  trustee_addres=#{trusteeAddres},
	  trustee_company=#{trusteeCompany},
	  trustee_phone=#{trusteePhone},
	  trustee_fee=#{trusteeFee},
	  trustee_Desc=#{trusteeDesc} where trustee_code=#{trusteeCode}
	</update>
	<!-- 删除 -->
	<delete id="deleteTrustee" parameterType="Trustee">
	    delete from trustee where
		trustee_code in (${trusteeCode})
	    
	</delete>
	<!-- 通过一条查询数据 -->
	<select id="selecTrusteeByCode" parameterType="Trustee" resultMap="TrusteeMap">
	    		select * from trustee where trustee_code = #{trusteeCode}
	</select>
</mapper>